@model Blog.Models.Post

@{
    ViewData["Title"] = "SuaBaiViet";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@section scripts{
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#Contents').summernote({
                placeholder: 'Hello stand alone ui',
                tabsize: 2,
                height: 200,
                toolbar: [
                    ['style', ['style']],
                    ['font', ['bold', 'underline', 'clear']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['table', ['table']],
                    ['insert', ['link', 'picture', 'video']],
                    ['view', ['fullscreen', 'codeview', 'help']]
                ]
            });
        });

        function showImagePreview(event) {
            var input = event.target;
            var preview = document.getElementById("anh-preview");
            preview.style.display = "block";
            var reader = new FileReader();
            reader.onload = function () {
                preview.src = reader.result;
            }
            reader.readAsDataURL(input.files[0]);
        }

        function SuaPosts() {
            var PostID = document.getElementById("PostID").value;
            var PostName = document.getElementById("PostName").value;
            var Author = document.getElementById("Author").value;
            var ShortContent = document.getElementById("ShortContent").value;
            var CreateDate = document.getElementById("CreateDate").value;
            var Picture = document.getElementById("Picture").value;
            var AccountId = document.getElementById("AccountId").value;
            var CatId = document.getElementById("CatId").value;
            var Contents = $('#Contents').summernote('code');

            //Cắt tên ảnh
            var anh = Picture.split(/[\\|/]/);
            var anhchinh = anh[anh.length - 1];

            var url = 'https://localhost:7137/api/PostsAPI?postsID= ' + PostID + '&postName=' + PostName + '&shortContent=' + ShortContent + '&contents=' + Contents + '&picture=' + anhchinh + '&createDate=' + CreateDate + '&author=' + Author + '&catId=' + CatId + '&AccountId=' + AccountId;
            $.ajax({
                url: url,
                method: 'PUT',
                contentType: 'json',
                dataType: 'json',
                error: function (response) {
                    
                },
                success: function (reponse) {
                    console.log(reponse);
                    window.location.href = 'https://localhost:7137/admin/homeadmin/ListPosts/';
                }
            });
        }
    </script>

}
<h1 class="text-xl font-semibold my-7">Sửa Bài Viết</h1>

<hr />
<div class="mb-7 border border-1 w-full h-full px-7 py-3 item-center text-xl-center font-medium">
    <form method="post" asp-action="SuaBaiViet" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <label class="block mb-1 md:mb-0 pr-4">
                    PostsID:
                </label>
                <input type="text" asp-for="PostId" disabled id="PostID" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" />
            </div>
            
            <div class="mb-6">
                <label class="block mb-1 md:mb-0 pr-4">
                    Tiêu Đề:
                </label>
                <input type="text" asp-for="PostName" id="PostName" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" />
                <span asp-validation-for="PostName" class="text-danger"></span>
            </div>
            <div class="mb-6">
                <label class="block mb-1 md:mb-0 pr-4">
                    Tác giả:
                </label>
                <input type="text" asp-for="Author" id="Author" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="mb-6">
                <label class="block mb-1 md:mb-0 pr-4">
                    Mô tả ngắn:
                </label>
                <input type="text" asp-for="ShortContent" id="ShortContent" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" />
                <span asp-validation-for="ShortContent" class="text-danger"></span>
            </div>
        

             <div class="md:flex md:items-center gap-32">
                <div class="mb-6">
                    <label class="block mb-1 md:mb-0 pr-4">
                        Ngày đăng:
                    </label>
                    <input asp-for="CreateDate" id="CreateDate" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" />
                    <span asp-validation-for="CreateDate" class="text-danger"></span>
                </div>
                <div class="mb-6">
                    <label class="block mb-1 md:mb-0 pr-4">
                        Người đăng:
                    </label>
                    <select asp-for="AccountId" id="AccountId" class="shadow appearance-none border rounded w-[240px] py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" asp-items="ViewBag.AccountId"></select>
                </div>
                <div class="mb-6">
                    <label class="block mb-1 md:mb-0 pr-4">
                        Tên chuyên mục:
                    </label>
                    <select asp-for="CatId" id="CatId" class="shadow appearance-none border rounded w-[240px] py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" asp-items="ViewBag.CatId"></select>
                </div>                        
            </div>          
            <div class="mb-6">
                    <label class="block mb-1 md:mb-0 pr-4">
                        Ảnh:
                    </label>
                    <input asp-for="Picture" id="Picture" type="file" name="userfile" onchange="showImagePreview(event)" />
                    <span asp-validation-for="Picture" class="text-danger">@ViewBag.message</span>
                    <img id="anh-preview" src="#" alt="Ảnh xem trước" style="display: none; max-width: 300px; max-height: 300px; margin-top:10px;" />
            </div>
            
            <div class="mb-6">
                <label class="block mb-1 md:mb-0 pr-4">
                    Mô tả
                </label>
                <textarea asp-for="Contents" id="Contents" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"></textarea>
                <span asp-validation-for="Contents" class="text-danger"></span>
            </div>
            <div class="md:flex items-center gap-5 justify-center">
                <input type="submit" onclick="SuaPosts()" value="Save" class="shadow bg-blue-500 hover:bg-blue-700 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" />
                <a asp-action="ListPosts" class="shadow bg-gray-500 hover:bg-gray-700 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded">Cancel</a>
            </div>
        </form>
</div>



