@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        function toggleSubmenu() {
            const submenu = document.querySelector('.submenu');
            const liElement = document.querySelector('.relative');

            submenu.classList.toggle('hidden');
            liElement.classList.toggle('border-selected');
        }
    </script>
    <title>Trang Chủ</title>
</head>
<body>
    @await Html.PartialAsync("PartialHeader") 
   
    <div class="main" id="displayProducts">
         @RenderBody()
    </div>
    @await Html.PartialAsync("PartialFooter")
   
</body>
</html>