@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        function toggleSubmenu() {
            var submenu = document.querySelector('.submenu');
            submenu.classList.toggle('hidden');
        }

        window.addEventListener('click', function (event) {
            var target = event.target;
            var submenu = document.querySelector('.submenu');

            if (!target.closest('.relative')) {
                submenu.classList.add('hidden');
            }
        });

    </script>
    <title>Trang Chủ</title>
</head>
<body>
    @await Html.PartialAsync("PartialHeader") 
   
    <div class="main" id="displayProducts">   
        @RenderBody()
    </div>
    @await Html.PartialAsync("PartialFooter")
   
</body>
</html>